<h1>Assemblies</h1>
    <h2>I Love to Read! - (K-3 or 4-6, 45 min.)</h2>
<p>As an author of six childrens’ books, Jack brings his life-long love of words to bear on one of his very favorite topics: reading! It’s one of the most important things we ever learn in school. The sheer joy of settling down with a good book shines through this very special assembly of tunes and tales. Especially appropriate for February - “I Love to Read Month.”
</p>

<h2>The Three ‘R’s of Character - (K-6, 45 min.)</h2>
<p>This program looks at the building blocks of character through songs and storytelling. The kids all participate in singing and rhythms as Jack takes the lead in exploring the three ‘R’s; not reading, ‘riting and ‘rithmetic, but the three ‘R’s of good character: being <strong><em>reliable, respectful</em></strong> and <strong><em>responsible.</em></strong> The program elements all work together to show how our character - our inside story - steers the course of our lives, both individually and as a human family.
</p>

<h2>You and Me, Bully Free - (K-6, 45 min.)</h2>
<p>You have the right to safely be who you are! This timely program blends songs and stories to address issues of aggression, self-image, verbalizing feelings and empathy. We now know that bullying is easiest to stop before the age of eight which adds urgency to this vital message. The kids get involved in rhythms and singing as Jack strums, tells and shares with an accent on the positive. “You and Me, Bully Free!” is a great step toward building the affirming atmosphere we all want in our hearts and world.
</p>
<p></p><blockquote>
   <span class="lquote">“</span>Your ability to keep the interest of a wide range of students is phenomenal. I was standing back by the 6th graders, and even they were enthralled!<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Lydia Gnos, principal</span><br>
   <span class="blockquote-name">Pepin, WI</span>
   </blockquote>
<p></p>
<h2>The J. P. Potpourri - (K-3 or 4-6, 45 min.)</h2>
<p>This song/story smorgasbord treats your kids to a wide variety of some of the tastiest kidbits Jack has to offer. Proven hits like “Googolplex” and “Velcro” alternate with some of the most uproarious stories you’ve ever heard! Along the way the kids sing, clap, laugh and get a good taste of the variety of instruments Jack plays.  If you just want a fun, interactive time for your students, this would be the way to go. Ever-changing, ever new!
</p>

<h2>The World Cultured Pearl - (K-6, 45 min.)</h2>
<p>Here’s the program you’ve been looking for! A celebration of the many ways of being human the world over; our songs, tunes and stories born in human experience and lovingly carried in the cradle of culture.  The message is that our lives take various shapes, yet we’re much the same at heart, which is the heart of the matter! This participatory show leads the kids gently into a broadened understanding of world cultures, though they’ll probably be having too much fun to notice!
</p>

<h2>Forever Green and Blue - (K-3 or 4-6, 45 min.)</h2>
<p>You’ll be glad you booked this celebration of environmental awareness. Some of Jack’s best ingredients go into this popular program guaranteed to help your kids in becoming good caretakers of our fragile and amazing planet. Whole-grain informational goodness with a big dollop of song/story delight! The kids will go away humming “the Earth Day Jig” and chances are it will show up in their environmental attitudes for years to come.
</p>

<h2>On the Trail of America - (K-6, 45 min.)</h2>
<p>This stirring presentation celebrates the history and spirit of our great nation. The instruments, stories, and student participation in the great songs of America all blend in both a backward and forward look at what this country really is: the land of the free; the home of the brave. Whoever thinks history is boring hasn’t been off adventuring with Jack “On the Trail of America!”
</p>

<h2>Assembly costs</h2>
<p>Cost hinges on various factors such as distance, touring circumstances, group size and budget. <a href="/web/20160710030137/http://jackpearson.org/contact/">Contact Jack</a> with your situation and he’ll give you a prompt cost quote. Some negotiation is generally possible, so don’t be afraid to ask.  One funding avenue is to have each student bring an easily-affordable dollar to school. This can fund one and often two assemblies. Another cost-saving option lets you get your second assembly FREE by sending an order form home with the students for Jack’s music and little instruments.</p>
<p></p><blockquote>
   <span class="lquote">“</span>You have a rare gift, not only in your musicianship and storytelling, but in your kind and gentle manner with children. This world needs more examples of your kind of gentleness and patience!<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Gordon Decker, teacher</span><br>
   <span class="blockquote-name">Eden Prairie, MN</span>
   </blockquote>
<p></p>
