    <h1>Biography</h1>

<img class="right" src="<%= asset_path('bio/bio-pic.jpg') %>">
<p>Hi! I’m
Jack Pearson. As long as I can remember I’ve been in love with music, words and
the meaning of things. I was born in California but spent my growing up years
in Alexandria and Minneapolis, Minnesota. My dad was a Lutheran pastor and my
mom played the organ. I grew up on hymnody, folk music and early rock and roll.
I love wood as did many of my Swedish ancestors and so, naturally, was drawn to
the acoustic sounds of wooden instruments. I was smitten by the guitar at a
campfire sometime in 1965 and have yet to recover. The banjo came shortly
thereafter and also has a special place in my heart. I was part of a little
folk group in junior high with my brother, Brian, and a couple of friends -
Harry and Wendy. I don’t remember what we were called but we had a lot of fun
playing salad luncheons and church youth events. One time someone paid us five
dollars and I could hardly believe it! Someone was paying me money? To play
music?!?! Okay, it was only $1.25 because we had to split it four ways, but
that experience helped kindle a dream I’ve been chasing ever since. Favorite
musicians in those days included Peter, Paul and Mary, the Goldbriars, the
Kingston Trio, Simon and Garfunkel, Gordon Lightfoot and a guy named James
Taylor.</p><p>I
started trying to write my own stuff, too: poetry and songs with the
encouragement of a beloved high school teacher, Mr. Wally Kennedy. My dad
played the mandolin so that joined what I was doing along with the fiddle. I
studied fiddle for awhile with Mark O’Connor while going to school in Seattle.
I then spent a couple of years at the University of Minnesota and taught at a
fun music store called the Podium. In those days I listened a lot to the music
of John Hartford and Norman Blake. </p><p>Since
1979 I’ve performed full-time for kids and families in the Upper Midwest and
around the country in every situation you can think of. I bring a music/story
experience of imagination, spirit, folklore and history on guitar, fiddle,
5-string banjo and an assortment of small percussion instruments
including my one-and-only amplified toy box lid. I’m a songwriter with one foot
in our American folk tradition and the other joyfully lost in the landscape of
imagination. I work with K-6 kids in schools both as a performer and resident
artist. I also work closely with churches helping with worship or doing a
concert for the kids or families.</p><p>I met
Nancy Isaacson at a camp in Wisconsin when we were twelve. We were married in
1978 and have been ever since. Nancy and I live way up on the upper Mississippi
in Minneapolis. We have two amazing kids, Peter and Kari, both grown up now and
pursuing lives in children’s literature; Peter in writing and Kari in illustration.
I make good pancakes, love to read, and wear suspenders a lot. I also love and
understand rocks.</p>
