<h1>Churches</h1>
<h2>Family Concerts</h2><p>One of our clearest views into the kingdom of God is through music and stories. Coupling that conviction with an ability to relate to an audience of all ages, Jack offers a unique concert experience full of pickin’, fiddlin’, toy box dancin’ and old-fashioned audience involvement joyfully served up with wit and a smile. All strands of the Christian family find an authentic voice in his musical witness to Jesus and his spirit of love and freedom. No prerecorded tracks. No stuffy platitudes. Just an honest, fresh openness to God-With-Us in an acoustic style that’s accessible to folks at any point along their faith journey. Concerts can be a program length of 45 minutes or a main event length of 60-90 minutes.</p>
<p></p><blockquote>
<span class="lquote">“</span>Just to sit and watch adults and kids sitting together ... clapping, smiling and singing was wonderful ... Your Christlike presence among us was a real boost to my ministry here. Many people are already asking me when we can have you back.
<span class="rquote">”</span><br><br>
<span class="blockquote-name">— Rev. Jim Davis, Piedmont Community Church</span><br>
<span class="blockquote-name">Piedmont, CA</span>
</blockquote>
<p></p>
<h2>Concerts Especially for Kids</h2>
<p>The Gospel accounts show Jesus with a deep love for children. At the heart of the good news he proclaimed is the message that we must become child-like to find ourselves in God’s kingdom. This understanding underpins everything Jack’s about. One of his major giftings is an uncommon ability to connect with kids and to relate easily with them on their own terms. With songs and stories old and new drawn from a deep well of experience, Jack crafts each kids’ concert to honor their concerns for love and security in a faith-framework appropriate to them.
</p>

<h2>Worship and Special Music</h2>
<p>Jack serves frequently in worship settings for special music, the children’s sermon, or even as the entire worship service! All the necessary elements of your service can be easily designed into what he presents making for a delightfully different worship experience your congregation won’t forget.
</p>

<h2>A Time of Christmas</h2>
<p>“A Time of Christmas” is a flexible 30-60 minute program of songs, stories and narrative that draws from the breadth of our Christmas traditions. Jack brings new life to familiar carols as well as original songs with guitar, fiddle and banjo. Don’t be surprised if he plays some unusual instruments like the harp-guitar, jawharp, spoons and the (almost) famous amplified toy box lid! Expect audience involvement interwoven with performance as the program leads up to the musical sharing of one of a favorite Christmas tale; perhaps new, maybe quite old, but alive with the light and hope that Jesus brought into our world so long ago. “A Time of Christmas” is appropriate for all ages. Jack can do a special version for children, if needed.
</p>
<p></p><blockquote>
<span class="lquote">“</span>Your warmth, creativity, sense of humor and incredible musical gifts captivated not only our children, but our adults as well ... You have a powerful gift of communication that is a joy to behold.<span class="rquote">”</span><br><br>
<span class="blockquote-name">— Maria Bucka, director of music, Bethlehem Lutheran Church</span><br>
<span class="blockquote-name">Minneapolis, MN</span>
</blockquote>
<p></p>
