<h1>Concerts &amp; Festivals</h1>
    <p>Jack’s concert is truly a rainbow of tale/tune magic; our living folk tradition at its best! Jack’s rare ability to delight an audience of all ages shines in his trademark songs like “Velcro” and “Googolplex,” and each show features his (almost) famous amplified toy box lid. Come prepared for a rich time of stories, instruments, audience involvement and a chance to experience living music the way it used to be. Jack adapts easily to any age group, is easy to work with, and leaves people feeling more hopeful and a little more human.
</p>
<p></p><blockquote>
   <span class="lquote">“</span>Jack’s winsome personality, banjo-pickin’ and toybox dancin’ storytelling made for a terrific evening for concert goers of all ages. His dynamic and energetic rapport with the audience creates a chemistry which is truly unique...<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Venn Blakely, rec. coordinator</span><br>
   <span class="blockquote-name">Village of Westfield, NY</span>
   </blockquote>
<p></p>
<p></p><blockquote>
   <span class="lquote">“</span>Thank you for bringing us another successful Family Entertainment Series on June 26th! You started our season off right and received rave reviews!<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Gwen Papania, Rec. and Youth Services, Chautauqua Institution</span><br>
   <span class="blockquote-name">Chautauqua, NY</span>
   </blockquote>
<p></p>
