<h1>Library</h1>
    <h2>I Love to Read!</h2>
<p>I love working with libraries and can bring you a fun family experience of music and stories that focuses on books and the love of reading. There’s good variety and well-paced participation as I explain how reading opens the twin doors of information and imagination no matter our age or interests. I can adapt to any age group and am known for a show that touches old and young alike. I typically provide my own sound system and also use lighting when appropriate. I work with libraries year round, but especially in June and December. You can save money by booking me cooperatively with other libraries in your system.
</p>
<p></p><blockquote>
   <span class="lquote">“</span>Jack has shared his love of song and story with us for twelve years. Parents ask all year "When's Jack coming back?" Jack is able to make each concert new and exciting and is definitely the highlight of our Summer Reading Program. A true professional in every way, Jack is a joy to work with!<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Becky Walpole, head librarian - Park Rapids Public Library</span><br>
   <span class="blockquote-name">Park Rapids, MN</span>
   </blockquote>
<p></p>
<br>
<p></p><blockquote>
   <span class="lquote">“</span>I strongly recommend Jack Pearson to any library or organization looking for a quality childrens' musical program. He has performed at our three libraries every year for the past five, and I will definitely have him return next year.  His mix of music is very good for children of all ages, and his specialized instruments (like the amplified toy box lid) are amazing!  Jack too is very professional, very affordable ... and genuinely a nice man.<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Jennifer Cassman, Blue Earth County Library System</span><br>
   <span class="blockquote-name">Mankato, MN</span>
   </blockquote>
<p></p>
