<h1>Down for Maintenance</h1>

<p>
  We're rewriting Jack's website, and this part of the site is temporarily
  down for maintenance. If you need information that was once here, please
  <a href="/contact">contact us</a>, and we'll get back to you as soon as
  possible.
</p>
