<h1>Other Stuff</h1>

<p>
  I have lots of thoughts as I travel around with my songs and stories. Some of
  them aren’t the kind of thing you print as though other people would want to
  read them but some, perhaps, are.
</p>

<p>
  It occurs to me lately, for example, that anyone doing music in any setting
  has just as much validity as the most acclaimed concert master in the most
  prestigious concert hall. It’s all about being human, creative and honest
  where you find yourself. That’s all. I rather suspect that much great art
  happens in small places that don’t attract much attention. It’s happy just
  being what it is. We should all be so wise!
</p>

<p>
  9/22/09 - As promised, “7 Stories Tall” is now out on CD thanks to Kari
  Pearson and her wonderful illustration and layout abilities.
  <a href="http://www.karipearson.com/">www.karipearson.com</a>. Thanks, Kari!
</p>

<p>
  3/16/10 - I'm out here in California doing house concerts from San Francisco
  to LA. It's going great and I expect to do more of these next year. A number
  of you have suggested I do an instrumental CD project. This has been stirring
  around in my mind for some time now and I just might start working on it soon.
</p>

<p>
  8/29/12 - The above-mentioned instrumental CD is done, but it turned out
  differently than I thought it would. It's called "From the Heart of
  Scandinavia" and is a collection of folk tunes and hymn melodies from Sweden,
  Norway and Denmark. Soothing and sweet!
</p>

<p>
  8/29/12 - I'm back from the summer of songs and stories at Mount Hermon
  Conference Center in California. I'm now embarking on my 34th full-time year
  doing music. What a ride! It's been such a privilege to do this! I'll be
  doing three tours of house concerts in partnership with Mount Hermon this
  fall and winter. Check the calendar page. People are opening their homes and
  inviting their friends for an rousing evening of music and fellowship. If
  you’d like to have one yourself let me know and we’ll try to fit you in.
</p>

<p>
  2/18/15 - I realize that I haven't written much here lately! To put it gently.
  Lots has happened. For starters, I'm no longer working with Mount Hermon
  which you'll see mentioned above. I do expect to get back to the West Coast
  at some point, though. I'm working a lot more around Minnesota and the Upper
  Midwest generally. I find that there's plenty for me to do here. I've recently
  come out with a children's CD entitled "Googolplex &amp; Other Numbers" which
  features some of the best of my earlier songs for kids as well as some new
  ones I like a lot. I'm also currently working on a storytelling CD to be
  called "Circle Sam and Other Tales." I hope to have it available this
  summer.
</p>
