<h1>Performance</h1>
<div class="column">
	<p>Jack performs in a wide variety of venues.  Please choose from the list below.</p>

	<p><a href="/performance/assemblies/">Schools: K-6 Assemblies</a></p>

	<p><a href="/performance/residencies/">Schools: K-6 Residencies</a></p>

	<p><a href="/performance/preschool/">Schools: Preschool Programs</a></p>

	<p><a href="/performance/church/">Churches</a></p>

	<p><a href="/performance/library/">Libraries</a></p>

	<p><a href="/performance/concerts/">Concerts &amp; Festivals</a></p>
  <p><a href="/performance/chris-and-jack">The Chris and Jack Duo</a></p>
</div>

<div id="movie" style="margin: 0; width: 400px; height: 328px; float: left;"><embed type="application/x-shockwave-flash" src="/flash/FlowPlayerLight.swf" width="100%" height="100%" bgcolor="#ffffff" allowfullscreen="true" allowscriptaccess="always" quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="config={&quot;videoFile&quot;:&quot;/video/JackPearson-demo.flv&quot;,&quot;splashImageFile&quot;:&quot;<%=asset_path('video-splash.jpg') %>&quot;,&quot;initialScale&quot;:&quot;orig&quot;,&quot;autoPlay&quot;:false,&quot;autoBuffering&quot;:false,&quot;showVolumeSlider&quot;:true,&quot;showMuteVolumeButton&quot;:false,&quot;initialVolumePercentage&quot;:100,&quot;showMenu&quot;:true,&quot;controlBarBackgroundColor&quot;:0}"></div>
	<script>
	// place Flowplayer to our DIV
	flashembed("movie", "/flash/FlowPlayerLight.swf", {config: {

	    // Flowplayer configuration as comma separated list
	    videoFile: '/video/JackPearson-demo.flv',
	   	splashImageFile: '<%= asset_path('video-splash.jpg') %>',
		initialScale: 'orig',
		autoPlay: false,
		autoBuffering: false,
		showVolumeSlider: true,
		showMuteVolumeButton: false,
		initialVolumePercentage: 100,
		showMenu: true,
		controlBarBackgroundColor: 0
	}});
	</script>
</div>
