<h1>Preschool Programs</h1>
<p>Preschoolers love Jack and the feeling’s mutual! Jack’s way with kids extends easily down to the preschool years where he offers a variety of traditional and original songs and stories laced with group singing, rhythms and sounds. Each program is designed to balance familiar songs of early childhood with fun-filled new ones like Jack’s own “Sandy Got the Hiccups,” which has the kids jumping, running in place, holding their breath and even taking a rocketship to the moon in an attempt to cure the hiccups! A fun added option comes when Jack distributes rhythm spoons and the kids all get to explore the tap, the flutter and the arpeggio to lively banjo music! Preschool programs are typically 30 minutes long and can happen during the school day or as an evening family event.
</p>
<p></p><blockquote>
   <span class="lquote">“</span>I don't know how to thank you for what you did at our kids' birthday party.  People are still raving about it.  There have been parents telling me that it's the best party they've ever been to ... [We] were just thrilled beyond words at the whole evening and how amazing it was...<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Jon and Kristin Olson</span><br>
   <span class="blockquote-name">Minneapolis, MN</span>
   </blockquote>
<p></p>
