<h1>Residencies</h1>
    <p>The basic week opens with one or two assemblies (depending on numbers of students) followed by classroom sessions.  I typically meet with each class from one to three times depending on school size and how you choose to distribute student-artist contact.  Some doubling of classes is possible. For residencies of five days or more, an evening family concert is included in the cost, or this can be added to a shorter residency for an extra charge. Funding help could include a grant from the Minnesota State Arts Board (if your school is in Minnesota) and/or a school fundraiser selling my music and small instruments. See details below. I offer thematic residencies on topics such as America’s story, environmental awareness, songs and music making, story writing or storytelling. I’m also open to crafting a residency to fit a theme of your own. Below are the general workshop formats I offer:
</p>

<h2>American Folk Instruments - (K-6)</h2>
<p>A strummin’ and pickin’ time of learning about the folk instruments that have shared our American story: guitar, banjo, fiddle and mandolin.  I bring life to the lore, styles and music of these instruments in a fun and informal way. Also included is the harmonica, the dancing limberjack and a foray into the magical boing of the jawharp. To top it all off the kids get to try their hand at playing the rhythm spoons!
</p>

<h2>Hello to Storytelling - (K-6)</h2>
<p>I draw on many years as a professional teller of stories to help your kids see the inner workings of stories and how they can be brought to life in the telling. Considerations such as voice/body usage, mental imagery and listening skills are explored along with the three main ingredients of the storytelling experience: story, teller and listener. The story types may include family stories, American tall tales, original or cross-cultural.</p>
<p></p><blockquote>
   <span class="lquote">“</span>Just wanted you to know what a great experience it was for our students, staff and community to have you spend a week with us as Artist in Residence ... the whole school was filled with a special energy and excitement ... It has been almost two weeks since your visit, but your influence is still being felt.<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Charlotte Preiss, principal</span><br>
   <span class="blockquote-name">Necedah, WI</span>
   </blockquote>
<p></p>
<h2>Song Spinning - (2-6)</h2>
<p>A joyous splash into the mysterious, wonderful world of songwriting! I introduce my concept of the “song wheel” using my radio songs like “Velcro” and “Googolplex” to show how songs are born from small ideas and grow. The fun continues as the class dips into the RRRSS tool box and the kids help write their own group song with my help. Along the way we discuss songwriting components and how they blend as a song takes shape.
</p>

<h2>Brainstorm Soup! - (2-6)</h2>
<p>Whether a story is written or told, it starts the same way: with an idea! This session explores the winding path a story takes from the seed-idea and on through the transformations that lead to a full-grown story. I show my “idea notebook” and helps the kids with a group brainstorming exercise which leads to a time of story writing. Students should come armed with paper and pencil. This can easily be expanded into two sessions if needed.
</p>

<h2>Music All Around Us - (K-6)</h2>
<p>Get ready for a fun time of exploring the ways that music hides in everyday life! I help open the students’ eyes to rhythms, melodies and lyrics they encounter every day but perhaps never thought of as music, or the beginnings of it. Along the way I show and explain a variety of “instruments” found in most homes and give the kids a chance to play some of them. There’s plenty of participation and a lively give-and-take with questions, laughs and music most of us never knew was there!
</p>

<h2>Costs and Funding</h2>
<p>Residency costs depend on a number of factors. For a prompt quote, <a href="/web/20160710050110/http://jackpearson.org/contact/">contact me</a> with your location, number of students and desired length of residency and I’ll respond as soon as possible.
</p>
<ul>
 <li><p>If you’re a school in Minnesota, you can apply for an <a href="https://web.archive.org/web/20160710050110/http://www.arts.state.mn.us/grants/AIE_school_support.htm">Arts in Education grant</a> through the Minnesota State Arts Board (<a href="https://web.archive.org/web/20160710050110/http://www.arts.state.mn.us/grants/AIE_school_support.htm">www.arts.state.mn.us</a>), which can support up to half the cost of a residency.  <strong>Apply by April 1st</strong>.  I’m on their <a href="https://web.archive.org/web/20160710050110/http://66.103.254.71/msab/aie/aie_artist.php?key=136&amp;all=alpha">artist roster</a>.
</p>

 </li>

 <li><p>You can host a school fundraiser selling my music and small instruments. A two week window of student exposure begins with a free all-school assembly (or two) followed by fitting my songs into school activities using CDs I provide along with fun, related activities. I provide a take-home order form and your school gets a percentage of sales. Host a fundraiser early in the school year to generate seed money for a Jack Pearson residency later!
</p>

 </li>

 <li><p>Another option is to have an in-house field trip.  Each student’s family contributes an easily affordable $1 - $3 and, rather than spending on  buses to bring students out, you bring me IN! This could fund a day to a week, or even more of quality arts exposure for your students.  The in-house field trip is a creative funding approach that works.</p></li></ul>
<p></p><blockquote>
   <span class="lquote">“</span>Jack Pearson has been to the Hinckley-Finlayson Schools four times and we love his songs and stories more each time! ... Jack is very skillful with ALL age levels, young and old alike!  He is a master at crowd control and audience participation.  He is always on time, he brings his own equipment and takes care of setting everything up.  He communicates very well by either email or phone and you can count on him to ALWAYS follow through with what he says he will do.<span class="rquote">”</span><br><br>
   <span class="blockquote-name">— Pat Almos, Reading Coordinator</span><br>
   <span class="blockquote-name">Hinckley, MN</span>
   </blockquote>
<p></p>
