<p>Greetings,</p>

<p>
  Someone just completed an order on <a href="https://www.jackpearson.org/">JackPearson.org</a>.
  Visit <a href="<%= @order_url %>">this page</a> to view the order on Stripe.
</p>
