/* reset code taken from Blueprint 0.7 */

html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,em,font,img,ins,kbd,q,s,samp, strike,strong,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1;color:#000;background:white;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

/**** BASIC STYLES ****/

body,pre {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #202020; /* set fonts to dark grey */
    margin: 0;
    padding: 0;
}

/* Testing a serifed font. */

/*body,pre {
    font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}*/

body { background: image-url('body_bg.jpg') top left repeat-y; }

a:link { color: #02813c; text-decoration: underline; }
a:visited { color: #02813c; text-decoration: underline; }
a:hover { color: #02813c; text-decoration: none; }
a img { border: 0; }

p {
    margin-bottom: 21px;
}

em { font-style: italic; }
strong { font-weight: bold; }

/* Zebra stripes */
.even { background-color: #fff; }
.odd { background-color: #efefef; }

h1 {
	letter-spacing: 0.1em;
	font-size: 32px;
	line-height: 42px;
	margin-bottom: 14px;
	font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
	/* text-indent: -10px; */
	line-height: 42px;
	color: #02813c;
}

h3, h4, h5, h6 {
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    color: #02813c;
}

/* .curly-quote {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 16px;
	color: color: #02813c;
} */

blockquote {
	font-style: italic;
	width: 450px;
	/* background-color: #efefef; */
	padding: 30px 35px 40px 35px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 30px 50px 30px 50px;
}

/* Left and right large quotes */
.lquote, .rquote {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 300%;
	/* font-weight: bold; */
	color: #02813c;
	position: relative;
	top: .3em;
	line-height: .8em; /*0;*/
}
.rquote {
	font-size: 300%;
	line-height: 0em;
}

.blockquote-name {
	font-style: normal;
	margin-left: 30px;
}

/*

.bqstart {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	background-color: #efefef;
	height: 10px;
    float: left;
    height: 45px;
    margin-top: -20px;
    padding-top: 45px;
    margin-bottom: -50px;
    font-size: 250%;
    color: #02813c;
 }

 .bqend {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	background-color: #efefef;
	height: 10px;
	float: left;
	height: 25px;
	margin-top: 0px;
	padding-top: 45px;
	font-size: 250%;
	color: #02813c;
 } */

/**** LAYOUT CONTAINER ****/
#width-enforcer { width: 950px; }

/**** HEADER ****/

#header {
    height: 220px;
    background: image-url('header_bg.jpg') top left no-repeat !important;
}
#header h1 {
    font-size: 10px;
    text-indent: -1000em;
}
#subtitle {
    display: block;
    text-indent: -1000em;
    font-size: 10px;
}

/***** NAVIGATION ****/

#navigation {
    width: 200px;
    background: image-url('navigation_bg.jpg') top left no-repeat;
    float: left;
    /* color: #fff; */
}

#navigation ul {
    list-style: none;
    margin-left: 0px;
    padding-right: 50px;
}

#navigation li {
    text-align: center;
}

#navigation ul li a {
    font-family: "Times New Roman", "Times", serif;
    font-size: 18px;
    font-style: italic;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

#navigation ul li a:hover {
    color: #69c08a;
}

#shopping-cart-nav {
	/* background-color: black; */
	margin-top: 25px;
    font-family: "Times New Roman", "Times", serif;
	line-height: 18px;
    font-size: 18px;
	height: 50px;
	width: 150px;
}

#shopping-cart-nav img {
	margin: 5px 10px 0px 10px;
	float: left;
}

#shopping-cart-nav a {
    font-style: italic;
    color: #fff;
    text-decoration: none;
}

#shopping-cart-nav a:hover {
    color: #69c08a;
}

/**** MAIN CONTENT ****/

#main {
    width: 750px;
    background: #fff;
    float: left;
    min-height:716px;

    /* IE Hack */
    height:auto !important;
    height:716px;
}

#main p {
	margin-left: 10px;
}

/**** FOOTER ****/

#footer-container {
    clear: both;
    height: 264px;
    background: #fff image-url('footer_bg.jpg') top left no-repeat;
}

#feathered_container {
    position: relative;
    top: -59px;
    width: 200px;

}

#footer-text {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
    line-height: 14px;
    padding-top: 160px;
    font-size: 12px;
    /*border: 1px solid red;*/
}

#footer-text p { margin-bottom: 0; }
#footer-text a { color: #fff; text-decoration: none; }
#footer-text a:hover { color: #fff; text-decoration: underline; }

/**** PAGE-SPECIFIC STYLES ****/

/************* Recordings **************/

#page-header p {
	position: relative;
	left: -10px;
	letter-spacing: 0.1em;
}

.album-thumb {
	position: relative;
	float: left;
	width: 150px;
	margin: 0px 55px 20px 0px;
	text-align: center;
	font-size: 1px;
}

.album-thumb p {
    margin: 0 !important;
    height: 36px;
}

.album-thumb a:link { color: black; text-decoration: none;}
.album-thumb a:visited { color: black; text-decoration: none;}
.album-thumb a:hover { color: black; text-decoration: underline;}


/* Individual Album Pages */

#product-image {
    float: left;
    margin: 0 40px 0 0;
}

#instructions {
	color: #959595;
	position: relative;
	margin: 0px 0px 20px 0px;
}

#instructions img {
	/* position: relative; */
	top: 3px;
}

/*.album-big {
	float: left;
	margin: 0px 40px 100px 0px;
}*/

#description-container {
	float: left;
	margin: 0px 40px 100px 0px;
	width: 300px;
}

#description-container img {
	margin-bottom: 8px;
}

#description-container button {
	margin: 0 10px 12px 55px;
}

#description-container p {
	font-size: 12px;
	line-height: 18px;
}

#product-details {
    width: 400px;
    float: left;
}

#track-listing {
    border: 0;
    width: 100%;
}

#track-listing tr {
    height: 21px;
}

#track-listing .track-number {
    text-align: right;
    line-height: 21px;
}

#track-listing .track-title {
    text-align: left;
    line-height: 21px;
    padding-left: 10px;
    padding-right: 10px;
}

#track-listing .track-audio-player {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 1ex;
    margin-left: 0;
}

#track-listing .track-audio-player object {
    margin: 0;
    padding: 0;
    position: relative;
    top: 2px;
}

#track-listing .track-lyrics {
    text-align: left;
    margin-left: 1ex;
    color: #959595;
    font-size: 12px;
    line-height: 21px;
}

#track-listing .track-lyrics a:link { color: #959595; text-decoration: none;}
#track-listing .track-lyrics a:visited { color: #959595; text-decoration: none;}
#track-listing .track-lyrics a:hover { color: black; text-decoration: underline;}

.smaller {
	font-size: 0.85em;
}

/* Lyrics Pages */


#lyrics {
	padding: 20px 0px 0px 20px;
}

#lyrics h4 {
	position: relative;
	left: 0.5em;
}

.firstverse {
	white-space: pre;
	line-height: 1.5em;
	/*margin: 2.5em 0em 1.5em 0em;*/
}

#song_lyrics pre p {
	white-space: pre;
	line-height: 1.5em;
	/*margin: 1.5em 0em 1.5em 0em;*/
}

#song_lyrics p { margin-bottom: 0; }

/* Biography */

#jack-bio {
	float: right;
	padding-left: 20px;
}

/* Performance Descriptions */
.program_descriptions {
	width: 600px;
}

/* Performance landing page */

.column {
	/* position: relative; */
	float: left;
	margin: 0 0 150px 0;
	width: 300px;
}

.column p {
	margin: 0 0 1em 0;
	/* position: relative;
	left: -20px; */
}

.column a {
	padding: 0 0 0 20px;
}

.column a:link {
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: #02813c;
	text-decoration: none;
}

.column a:visited {
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: #02813c;
	text-decoration: none;
}

.column a:hover {
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	color: #02813c;
	text-decoration: underline;
}

/* Contact Page */

/******** Contact Page **************/

#name_email_container {
	position: relative;
	float: left;
}

#name_email_container p {
	margin: 0 0 0.5em 0;
	color: #959595;
}

#name_email_container input {
	margin: 0 0 1.75em 0;
}

/*------*/

#contact_info_container {
	position: relative;
	float: left;
	margin-left: 50px;
}

#contact_info_container p {
	margin: 0em;
}

#jackpearson {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

.phone_fax_email {
	position: absolute;
	left: 2em;
}

.phone_fax_email img {
	position: relative;
	top: 4px;
}

/*------*/

#email_body_container {
	position: relative;
	float: left;
}

#email_body_container p {
	margin: 0 0 0.5em 0;
	color: #959595;
}

#email_body_container textarea {
	margin: 0 0 1.75em 0;
}

.grey {
	color: #959595;
	font-size: 0.9em;
}

/* Calendar Page */

#calendar_container {
	position: relative;
	float: left;
	width: 100%;
}

#calendar_container h2 {
	text-align: left;
	margin: 0.75em 0 0.5em 0;
	position: relative;
	left: 0;
}

#calendar_container .year_container {
    margin-bottom: 40px;
}

#calendar_container h1 {
    margin-top: 18px;
    margin-left: 0;
}

#calendar_container table tr td { padding: 2px 5px 2px 5px; line-height: 1.2em;}

td.date { width: 120px; }
td.time { width: 120px; }
td.venue { width: 350px; }
td.description { width: 400px;}

/* Press Page */

.press_container {
	position: relative;
	float: left;
	margin: 1em 3em 0 0;
}

/* Store: Product Pages */

.product_image {
	float: left;
	margin: 0 10px 100px 0;
}

.product_description {
	padding: 50px 0 0 0px;
}


/* Store: Landing Page */

#store_container h2 {
	color: black;
	margin: 1.5em 0 0.5em 0;
}

.product_list_item {
	float: left;
	margin: 0 0 15px 0;
	width: 350px;
	height: 100px;
}

.product_thumb {
	float: left;
	padding: 0 10px 0 0;
}

.product_short_description {
	margin: 40px 0px 0px 0px;
}

/*
.product_short_description a:link { color: black; text-decoration: none;}
.product_short_description a:visited { color: black; text-decoration: none;}
.product_short_description a:hover { color: black; text-decoration: underline;}
*/

/* Store: Product Pages */

.product_image {
	float: left;
	margin: 0 10px 100px 0;
}

.product_description {
	padding: 50px 0 0 0px;
}


/* Shopping Cart */

table#shopping-cart {
    width: 100%;
}

table#shopping-cart tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* td.cart-headers {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
	padding: 3px;
}

td.item {
    width: 250px;
	padding: 3px;
}

td.price {
	width: 80px;
	padding: 3px;
}

td.quantity {
	width: 100px;
	padding: 3px;
}

td.remove {
	width: 80px;
	padding: 3px;
}

#shopping-cart-total {
	position: relative;
	margin-top: 12px;
	left: 420px;
	width: 120px;
}

#recalculate-button {
	margin-top: 8px;
	width: 100px;
}

#checkout-now-button {
	margin-top: 6px;
	width: 100px;
} */


/* News Page */

.news-entry {
	margin-bottom: 45px;
}

.news-entry h2 {
	margin-bottom: 5px;
}

.news-date {
	/* float: right; */
    font-size: 12px;
	color: #aaa;
	margin-bottom: 10px;
}

/* Django CMS Image rules */

img.right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}


img.left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.center {
    display: block;
    margin: 10px auto;
}
